html {
    background-color: var(--inpArea) !important;
    overflow-y: auto;
}

body {
    overflow: hidden; /* Hide scrollbars */
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    display: flex;
}

:root{
    --bgColor: #111111;
    --inpArea: #1d1d1d;
    --input: #ffffff;
    --output: #00ffcc;
    --err: #ff0040;
    
}

.screansBar .outputScrean{
    height: calc(83vh - 5px);
    background-color: var(--bgColor);
    padding: 20px 30px;
    overflow-y: scroll;
}

.screansBar{
    width: calc(100% - 66px);
}

.screansBar .inputScreen{
    width: 100%;
    background-color: var(--inpArea);
}

.inputScreen .input{
    width: 100%;
    background-color: transparent;
    color: var(--input);
    border: 0;
    resize: vertical;
    font-size: 14px;
    min-height: 10vh;
    overflow-y: scroll;
    padding-top: 5px;
    transition: border 5.5s
}

.inputScreen .input::placeholder{
    color: var(--input);
    opacity: 0.5;
}

.inputScreen .input:focus {
    box-shadow: none;
    outline: none;
    border-top: 1px solid var(--output);
}


.code{
    padding: 3px 10px;
    height: auto;
    border: 0;
    font-size: 14px;
    background-color: transparent;
    transition: 0.5s;
}
.code:hover{
    background-color: var(--inpArea);
}

.code.inputT{
    color: var(--input)
}

.code.outputT{
    color: var(--output)
}

.code.outputT{
    color: var(--err)
}

.bar{
    width: 66px;
    height: 100vh;
    padding: 20px 10px;
    box-sizing: border-box;
}
.bar .boxes{
    border-radius: 5px;
    width: 46px;
    height: 46px;
    background-color: #111111;
    border: 2px solid #111111;
    margin-bottom: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 46px;
}
.add.boxes {
    background-color: #1111119c;
    border-color: #fff;
    transition: 0.3s;
}
.add.boxes:hover {
    background-color: #111;
    border-color: rgba(255, 255, 255, 0.760);
    color: rgba(255, 255, 255, 0.760);
}
.bar #CDown {
    transform: rotate(90deg);
    margin: 30px -24px;
    height: 50px;
    background-color: aqua;
    border: none;
    letter-spacing: 2px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}
.colorsPanle {
    width: 180px;
    position: absolute;
    top: 10px;
    right: 75px;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 0 10px 10px;
    border: 2px solid #007258;
}
.colorsPanle.hide{
    display: none;
}
.colorsPanle p {
    margin-top: 6px;
    margin-bottom: 5px;
    font-size: 15px;
}
.colorsPanle input {
    width: 100%;
    padding: 0;
    border: none;
    height: 20px;
    outline: none;
}
.colorsPanle button {
    width: 100%;
    margin-top: 8px;
    color: #fff;
    padding: 6px 0;
    cursor: pointer;
    border-radius: 5px;
    outline: none !important;
    border: 0;
}
.colorsPanle #save {
    background-color: hsl(171, 97%, 36%);
}
.colorsPanle #apply {
    background-color: hsl(141, 71%, 48%);
}
.colorsPanle #down {
    background-color: hsl(204, 86%, 53%);
}
.colorsPanle #del {
    background-color: hsl(348, 89%, 52%);
}

